section {
  height: calc(100vh - 55px);
}

.card-group {
  height: 100%;
}

.card-group .card {
  height: 100%;
  text-align: center;
}

.card-group .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
  align-items: center;
}


